<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ServiceConfiguration" type="MML.Common.XmlConfigurationSectionHandler, MML.Common" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
		<section name="ErrorCodeConfiguration" type="MML.Common.Configuration.XmlErrorCodeSectionHandler, MML.Common.Configuration" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<connectionStrings>
		<add name="ApplicationServices"
			 connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
			 providerName="System.Data.SqlClient" />
    {InProcessServiceExecution.ConnectionStrings.LoanCenter}
	</connectionStrings>
	<appSettings>
    <add key="MML.OAuth.AuthenticationResource.iMP" value="{MML.OAuth.AuthenticationResource.iMP}" />
    <add key="MML.OAuth.AuthenticationScope.iMP" value="{MML.OAuth.AuthenticationScope.iMP}" />
    <add key="MML.OAuth.AuthenticationUrl.Concierge" value="{MML.OAuth.AuthenticationUrl.Concierge}" />
    <add key="MML.OAuth.AuthenticationKey.Concierge" value="{MML.OAuth.AuthenticationKey.Concierge}" />
    <add key="MML.OAuth.PublicTokenEncryptionKey.Concierge" value="{MML.OAuth.PublicTokenEncryptionKey.Concierge}" />
    <add key="MML.OAuth.AuthorizationServerPrivateKey.Concierge" value="{MML.OAuth.AuthorizationServerPrivateKey.Concierge}" />
    <add key="MML.OAuth.ResourceServerDecryptionKey.Concierge" value="{MML.OAuth.ResourceServerDecryptionKey.Concierge}" />
    <add key="MML.OAuth.AuthorizationServerVerificationKey.Concierge" value="{MML.OAuth.AuthorizationServerVerificationKey.Concierge}" />
    <add key="MML.OAuth.AuthenticationTokenLifetime.Concierge" value="{MML.OAuth.AuthenticationTokenLifetime.Concierge}" />
    <add key="MML.OAuth.CookieDomain.Concierge" value="{MML.OAuth.CookieDomain.Concierge}" />
    <add key="MML.OAuth.CookieName.Concierge" value="{MML.OAuth.CookieName.Concierge}" />
    <add key="MML.OAuth.ClientId.Concierge" value="{MML.OAuth.ClientId.Concierge}" />
    <add key="MML.OAuth.ClientSecret.Concierge" value="{MML.OAuth.ClientSecret.Concierge}" />
    <add key="MML.OAuth.RedirectUrl.Concierge" value="{MML.OAuth.RedirectUrl.Concierge}" />
    <add key="MML.OAuth.ResponseType.Concierge" value="{MML.OAuth.ResponseType.Concierge}" />
    <add key="MML.OAuth.IsOAuthEnabled.Concierge" value="{MML.OAuth.IsOAuthEnabled.Concierge}" />
    <add key="MML.OAuth.ClientRoutingPair.Concierge" value="{MML.OAuth.ClientRoutingPair.Concierge}" />
    <add key="MML.OAuth.ClientRoutingPort.Concierge" value="{MML.OAuth.ClientRoutingPort.Concierge}" />
    
    <add key="UseNewCreditService" value="{UseNewCreditService}" />
    <!--<add key="webpages:Version" value="1.0.0.0"/>-->
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="LoanCenterStartPage" value="{LoanCenterStartPage}" />
    <add key="ConciergeUrl" value="{ConciergeUrl}" />
    <add key="BorrowerUrl" value="{BorrowerUrl}" />
    <add key="BrandingConfigurationURL" value="{BrandingConfigurationURL}" />
		<add key="ConciergeHome" value="{ConciergeHome}" />
		<add key="SystemAdmin" value="{SystemAdmin}" />
		<add key="GetRates" value="{GetRates}"/>
		<add key="ConciergeLoginPage" value="{ConciergeLoginPage}" />
    <add key="ConciergeLogOut" value="{ConciergeLogOut}" />
		<add key="StartProspect" value="{StartProspect}" />
		<add key="SiteLoginPage" value="{SiteLoginPage}" />
		<add key="VirtualApplicationPath" value="{VirtualApplicationPath}" />
    <add key="SessionExpiration" value="{SessionExpiration}" />
    <add key="ConciergeSignOut" value="Login.aspx?ReturnUrl=%2fSiteLogin.aspx" />
    <add key="EncryptionKey192" value="6, 55, 60, 3, 13, 110, 12, 51, 85, 11, 8, 3, 1, 6, 1, 3, 12, 12, 2, 30, 10, 1, 2, 16" />
    <add key="EncryptionKey128" value="2, 10, 3, 17, 210, 1, 7, 11, 2, 5, 33, 122, 17, 7, 16, 6" />
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="NewleafSites" value="corporate,affinity,direct,wholesale,skyline" />
    <add key="AllowAus" value="{LoanCenter.AllowAus}" />
    <add key="EncriptSSN" value="{LoanCenter.EncriptSSN}" />
    <add key="RestApiRoot" value="{LoanCenter.RestApiRoot}" />
    <add key="UseMinifiedJS" value="{LoanCenter.UseMinifiedJS}" />
  
    <!-- Session expiration -->
    <add key="SessionExpirationTime" value="720" />
    <add key="SessionHeartBeatTime" value="5" />
    <add key="SessionWarningTime" value="5" />
	
     <!-- SAML - SmartGFE -->
    <add key="SAML.Assertion.AuthenticationContext" value ="urn:oasis:names:tc:SAML:2.0:ac:classes:TimesyncToken"/>
    <add key="SAML.Assertion.Duration" value="5"/>
    <add key="SAML.Assertion.SubjectConfirmation" value="urn:oasis:names:tc:SAML:2.0:cm:bearer" />   
    <add key="SAML.Response.Version" value="2.0"/>
    <add key="SAML.Response.StatusCode" value="urn:oasis:names:tc:SAML:2.0:status:Success" />
    <add key="SAML.DocumentResponse.Attribute" value="xmlns"/>
    <add key="SAML.DocumentResponse.Protocol" value="urn:oasis:names:tc:SAML:2.0:protocol"/>
    <add key="SAML.DocumentResponse.Assertion" value="urn:oasis:names:tc:SAML:2.0:assertion"/>
    
    <add key="SAML.Certificate.SubjectName" value ="{SAML.Certificate.SubjectName}"/>
    <add key="SAML.Certificate.PrivateKeyPassword" value ="{SAML.Certificate.PrivateKeyPassword}"/>
    <add key="SAML.Assertion.NameIdentifier" value ="{SAML.Assertion.NameIdentifier}"/>  
    <add key="SAML.Assertion.UserId" value="{SAML.Assertion.UserId}"/>
    <add key="SAML.Assertion.Recipient" value ="{SAML.Assertion.Recipient}" />
    <add key="SAML.Assertion.Subject" value="{SAML.Assertion.Subject}" />    
    
    <!--SmartGFE-->
    <add key="SmartGFE.SSOPostPage" value="{SmartGFE.SSOPostPage}" />
    <add key="SmartGFE.ApiKey" value="5dbae800-51ee-4e66-a5bb-1ddb068fc944" />
    <add key="SmartGFE.Forwarding.STG01" value="https://stg01loancenter.newleaflending.com/Integrations/ReceiveGFE" />
    <add key="SmartGFE.Forwarding.QA01" value="https://qa01loancenter.newleaflending.com/Integrations/ReceiveGFE" />
    <add key="SmartGFE.Forwarding.INT01" value="https://int01loancenter.newleaflending.com/Integrations/ReceiveGFE" />
    <add key="SmartGFE.Forwarding.DITECH_TST" value="https://loancenter-nltst.ditech.com/Integrations/ReceiveGFE" />
    <add key="SmartGFE.Forwarding.DITECH_DEV" value="https://loancenter-nldev.ditech.com/Integrations/ReceiveGFE" />
    <add key="SmartGFE.CurrentEnvironment" value="{SmartGFE.CurrentEnvironment}" />
    <add key="SmartGFE.ShowRefreshButton" value="{SmartGFE.ShowRefreshButton}" />
    <add key="SmartGFE.UserName" value="{SmartGFE.UserName}" />
    <add key="SmartGFE.Password" value="{SmartGFE.Password}" />	
   
   <!-- Azure service bus account for SignalR-->
    <add key="UseAzureServiceBus" value="{UseAzureServiceBus}" />
    <add key="Azure.EventingTopicPrefix" value="{Azure.EventingTopicPrefix}" />
    <add key="Azure.SignalRServiveBusKey" value="{Azure.SignalRServiveBusKey}" />

    {InProcessServiceExecution.AppSettings}
    
  </appSettings>
  <location path="." inheritInChildApplications="false">
	<system.web>
    <customErrors mode="Off" defaultRedirect="/Error">
      <error redirect="/Error/Unauthorized" statusCode="401"/>
      <error redirect="/Error/NotFound" statusCode="404"/>
      <error redirect="/Error/InternalServerError" statusCode="500"/>
    </customErrors>
    <httpModules>
      <add name="HeaderRemover" type="MML.RemoveHttpHeadersModule.HeaderRemoverModule, MML.RemoveHttpHeadersModule" />
    </httpModules>
    <httpRuntime enableVersionHeader="false" maxRequestLength="49152"/>
		<compilation debug="{debug}" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms defaultUrl="{LoanCenter.authentication.forms.defaultUrl}" cookieless="UseCookies" loginUrl="{LoanCenter.authentication.forms.loginUrl}"
				   name="{Concierge.authentication.forms.name}" slidingExpiration="true" timeout="240" requireSSL="{Authentication.forms.requireSSL}" {FormsAuthenticationDomain}></forms>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
					 enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
					 maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
					 applicationName="/" />
			</providers>
		</membership>
		<httpHandlers>
			<add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc"/>
      <add verb="*" path="Downloader.axd" type="MML.Web.LoanCenter.Helpers.Handlers.DownloadHandler,MML.Web.LoanCenter"/>
		</httpHandlers>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
    <sessionState cookieless="UseCookies" mode="{SessionStateMode}" allowCustomSqlDatabase="{SessionStateAllowCustomSqlDatabase}" sqlConnectionString="{SessionStateSqlConnectionString}" timeout="{LoanCenter.SessionStateTimeout}"></sessionState>
    <pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>
				<add namespace="Telerik.Web.Mvc.UI"/>
			</namespaces>
		</pages>
    <machineKey validationKey="{Concierge.machineKey.validationKey}" decryptionKey="{Concierge.machineKey.decryptionKey}" validation="SHA1"  decryption="AES"/>
	</system.web>
  </location>
	<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEncompassServiceWCF" closeTimeout="00:10:00"
															openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
															allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
															maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
															messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
															useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
																		  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="REST.IPServiceBinding" maxReceivedMessageSize="2147483647" transferMode="Streamed"></binding>
      </webHttpBinding>
      <netTcpBinding>
        
         <binding name="NetTcpBinding_IAPSConfigurationClient" 
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00" 
                 receiveTimeout="00:10:00" 
                 sendTimeout="00:01:00"
                 transactionFlow="false" 
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard" 
                 listenBacklog="10"
                 maxBufferPoolSize="2147483647"
                 maxBufferSize="2147483647" 
                 maxConnections="10"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" 
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" 
                       protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
                
        <binding name="iMP.Client.Default.BindingConfiguration"
                  closeTimeout="00:10:05"
                  openTimeout="00:10:05"
                  receiveTimeout="00:10:10"
                  sendTimeout="00:10:05"
                  transactionFlow="false"
                  transferMode="Buffered"
                  hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="2147483647"
                  maxBufferSize="2147483647"
                  maxReceivedMessageSize="2147483647"
                  listenBacklog="1000">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
       <endpoint name="NetTcpBinding_IAPSConfigurationClient"
                 address="net.tcp://{NewLeaf.APSConfiguration}/APSConfigurationClient"
                binding="netTcpBinding" 
                bindingConfiguration="NetTcpBinding_IAPSConfigurationClient"
                contract="ConfigSvc.IAPSConfigurationClient" />                
      <endpoint address="http://localhost:8005/EncompassServiceWCF"
											  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEncompassServiceWCF"
											  contract="EncompassService.IEncompassServiceWCF" name="BasicHttpBinding_IEncompassServiceWCF" />
      <endpoint name="iMP.Client"
                address="{iMP.WebClient.BaseAddress}/iMP.DispatchService"
                binding="netTcpBinding"
                bindingConfiguration="iMP.Client.Default.BindingConfiguration"
                contract="iMP.Common.Contracts.IDispatchService" />
      <endpoint name="iMP.Client.Generic"
                address="{iMP.WebClient.BaseAddress}/iMP.DispatchService"
                binding="netTcpBinding"
                bindingConfiguration="iMP.Client.Default.BindingConfiguration"
                contract="System.ServiceModel.Channels.IRequestChannel" />
      <endpoint name="APS.Client"
                address="{iMP.WebClient.BaseAddress}/APS.Send"
                binding="netTcpBinding"
                bindingConfiguration="iMP.Client.Default.BindingConfiguration"
                contract="System.ServiceModel.Channels.IRequestChannel" />
      <endpoint name="APS.Client.Generic"
                address="{iMP.WebClient.BaseAddress}/APS.Send"
                binding="netTcpBinding"
                bindingConfiguration="iMP.Client.Default.BindingConfiguration"
                contract="System.ServiceModel.Channels.IRequestChannel" />
      <endpoint name="APS.Client.Generic.Async"
                address="{iMP.WebClient.BaseAddress}/APS.SendAsync"
                binding="netTcpBinding"
                bindingConfiguration="iMP.Client.Default.BindingConfiguration"
                contract="System.ServiceModel.Channels.IRequestChannel" />
      <endpoint name="APS.Client.Generic.Results"
                address="{iMP.WebClient.BaseAddress}/APS.RetrieveResults"
                binding="netTcpBinding"
                bindingConfiguration="iMP.Client.Default.BindingConfiguration"
                contract="System.ServiceModel.Channels.IRequestChannel" />
    </client>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<workflowIdle timeToUnload="300" />
					<sendMessageChannelCache allowUnsafeCaching="true">
						<factorySettings maxItemsInCache="8" idleTimeout="00:05:00" leaseTimeout="10:00:00" />
						<channelSettings maxItemsInCache="32" idleTimeout="00:05:00" leaseTimeout="00:06:00" />
					</sendMessageChannelCache>
					<workflowRuntime validateOnCreate="false" cachedInstanceExpiration="30" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="ignored" type="System.Diagnostics.DefaultTraceListener" />
        </listeners>
      </source>
      <source name="MMLTracer" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="ignored" type="System.Diagnostics.DefaultTraceListener" />
          <add name="MMLTrace" type="MML.TraceListeners.ServiceTraceListener, MML.TraceListeners" />
        </listeners>
      </source>
      <source name="System.ServiceModel" propagateActivity="true">
        <listeners>
          <add name="ignored" type="System.Diagnostics.DefaultTraceListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- Tracing Level -->
      <add name="SourceSwitch" value="31" />
    </switches>
    <sharedListeners>
      <add name="MMLTrace" type="MML.TraceListeners.ServiceTraceListener, MML.TraceListeners" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
	<ServiceConfiguration>
		<ServiceClients xmlns="http://www.meandmyloan.com/2009/01/Serialization">
			<ServiceClientInfo xmlns="http://www.meandmyloan.com/2009/01/Serialization">
				<ServiceEndPoint>
					<Address>{ServiceEndPointAddress}</Address>
					<ChannelSettings>
						<InitialTimeout>60000</InitialTimeout>
						<RetryTimeout>0</RetryTimeout>
						<NumberOfRetries>0</NumberOfRetries>
					</ChannelSettings>
					<BindingXml>
						<bindings>
							<netTcpBinding>
								<binding name="NetTcpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="500" maxReceivedMessageSize="2147483647">
									<readerQuotas maxDepth="64" maxStringContentLength="131072" maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="32768" />
									<security mode="None">
										<transport clientCredentialType="None" />
									</security>
								</binding>
							</netTcpBinding>
						</bindings>
					</BindingXml>
					<BehaviorXml>
						<behaviors>
							<endpointBehaviors>
								<behavior name="SecuredTcpBehavior">
									<clientCredentials>
										<clientCertificate findValue="MMLDev" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />
										<serviceCertificate>
											<defaultCertificate findValue="MMLDev" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />
											<authentication certificateValidationMode="None" />
										</serviceCertificate>
									</clientCredentials>
								</behavior>
							</endpointBehaviors>
						</behaviors>
					</BehaviorXml>
					<DnsEndpointIdentity>MMLDev</DnsEndpointIdentity>
          <InProcessServiceExecutionEnabled>{InProcessServiceExecutionEnabled}</InProcessServiceExecutionEnabled>
          <InProcessServiceExecutionConfigurationFilePath>..\MML.Bin\MML.ServiceHost.exe.config</InProcessServiceExecutionConfigurationFilePath>
          <InProcessServiceExecutionBinariesFolderPath>..\MML.Bin</InProcessServiceExecutionBinariesFolderPath>
				</ServiceEndPoint>
				<OperationReferences>
					<OperationReference>
						<OperationName>*</OperationName>
					</OperationReference>
				</OperationReferences>
			</ServiceClientInfo>
		</ServiceClients>
	</ServiceConfiguration>
	<system.webServer>
    <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="50331648" />
      </requestFiltering>
   </security>
    <staticContent>
            <remove fileExtension=".ts" />
            <mimeMap fileExtension=".ts" mimeType="application/x-typescript" />
      <clientCache cacheControlMaxAge="07.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
      <add name="HeaderRemover" type="MML.RemoveHttpHeadersModule.HeaderRemoverModule, MML.RemoveHttpHeadersModule" />
    </modules>
		<handlers>
			<add name="AssetHandler" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc"/>
    <add name="DownloadHandler" path="Downloader.axd" verb="*" type="MML.Web.LoanCenter.Helpers.Handlers.DownloadHandler" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
    <remove name="OPTIONSVerbHandler" />
    <remove name="TRACEVerbHandler" />
    <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
    {ForceSSLRewriteSection}
  </system.webServer>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
	</runtime>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Cache Manager" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
</configuration>
